<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nuevo Cliente</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Nuevo Cliente</h2>

<form th:action="@{/Cliente/guardarCliente}" th:object="${cliente}" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" th:field="*{nombre}" />

  <label for="apellido">Apellido:</label>
  <input type="text" th:field="*{apellido}" />

  <label for="dni">DNI:</label>
  <input type="text" th:field="*{dni}" />

  <label for="email">Email:</label>
  <input type="text" th:field="*{email}" />

  <input type="submit" value="Guardar" />
</form>
</body>
</html>
